# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
node_modules/
.idea

# misc
*bundle.js
webpack.test.js
/react-new/node_modules/
/react-new/build/
/react-new/package-lock.json
/react-new/dll/
/react-mobx-learn/node_modules/
/react-mobx-learn/package-lock.json
/react-next-learn/package-lock.json
/react-next-learn/node_modules/
/react-next-learn/.next/
