# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules/
.idea
.DS_Store
.vscode

# misc
/babel-learn/node_modules/
/babel-learn/build/

/react-redux-learn/node_modules/

/react-mobx-learn/node_modules/
/react-mobx-learn/build/

/react-next-learn/node_modules/
/react-next-learn/.next/
/react-next-learn/build/

/react-rx-learn/node_modules/
/react-rx-learn/build/