.login-form-container {
  .login-form {
    max-width: 300px;
  }

  .login-form-register {
    margin-bottom: 0px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .login-failed-message {
    color: red;
  }
}
