.main-content-container {
  max-width: 1056px;
  margin: 0 auto;
  width: 100%;

  .main-content-wrapper {
    margin-top: 16px;

    .content-left {
      background-color: #fff;

      .coupon-card-container {
        display: flex;
        overflow-x: auto;
      }
    }
    .content-right {
      margin-left: 24px;
    }
  }
}
