.personal-setting-drawer-container {
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      position: absolute;
      top     : 0;
      left    : 0;
      right   : 0;
      z-index : 99;
    }

    .ant-drawer-body {
      margin: 55px 0;
    }
  }

  .personal-setting-drawer-body {
    max-height: 800px;

    .drawer-avatar-item {
      .drawer-avatar-box {
        position: relative;
        width   : 160px;
        height  : 160px;
        margin  : 0 auto;

        .user-avatar {
          // background: red;
        }

        .upload-avatar {
          display: none;
        }

        .upload-avatar-mask-box {
          position: absolute;
          top     : 0;
          right   : 0;
          bottom  : 0;
          left    : 0;
          cursor  : pointer;

          .mask-inner {
            background   : #1a1a1a;
            z-index      : -1;
            width        : 100%;
            height       : 100%;
            opacity      : 0.4;
            border-radius: 50%;
          }

          .mask-content {
            position  : absolute;
            top       : 50%;
            left      : 50%;
            z-index   : 5;
            color     : #fff;
            text-align: center;
            transform : translate(-50%, -50%);

            .avatar-editor-text {
              white-space: nowrap;
              font-size  : 15px;
              color      : #fff;
              margin-top : 8px;
            }
          }
        }
      }
    }

    .account-name-item {
      margin-top: 16px;

      .account-name {
        display      : inline-block;
        font-size    : 26px;
        font-weight  : 600;
        line-height  : 36px;
        max-width    : 400px;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
      }

      .editor {
        line-height: 36px;
        cursor     : pointer;
        display    : none;
      }

      &:hover {
        .editor {
          display: inline-block;
        }
      }
    }

    .profile-info-item {
      font-size: 15px;

      .info-prefix {
        line-height: 36px;
        font-weight: 600;
        color      : #444;
      }

      .info {
        line-height: 36px;
      }

      .editor {
        display    : none;
        line-height: 36px;
        cursor     : pointer;
      }

      &:hover {
        .editor {
          display: inline-block;
        }
      }

      .cursor {
        cursor: pointer;
      }

      .profile-info-input-item {

        .input-item {
          margin-top: 48px;
        }

        .buttons-item {
          margin-top: 16px;

          .ant-btn-primary {
            margin-right: 16px;
          }
        }
      }

      .introduce-item {}
    }
  }

  .personal-setting-drawer-footer {
    position     : absolute;
    bottom       : 0;
    width        : 100%;
    border-top   : 1px solid #e8e8e8;
    padding      : 10px 16px;
    text-align   : right;
    left         : 0;
    background   : #fff;
    border-radius: 0 0 4px 4px;
  }
}