.personal-setting-drawer-container {
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .ant-drawer-body {
      margin: 55px 0;
    }
  }

  .personal-setting-drawer-body {
    max-height: 800px;

    .drawer-avatar-item {
      text-align: center;
      position: relative;

      .user-avatar {
      }

      .upload-avatar {
        display: none;
      }

      .upload-avatar-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .personal-setting-drawer-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
}
