.login-page-container {
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  .login-logo {
    // height: 100%;
    width: 100%;
  }
}