.basic-layout-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .basic-slider-operator {
    background-color: #0089ff;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 1000;
    // -webkit-app-region: drag;
  }

  .basic-header-container {
    position: relative;
    height: 78px;
    background-color: #fff;
    -webkit-app-region: drag;
  }

  .basic-content-contaienr {
    min-width: 800px;
    overflow-x: hidden;
    overflow-y: auto;

    .basic-content-childern {
      height: 100%;
      margin: 16px;
      z-index: 9;
    }

    .basic-footer-container {
      text-align: center;
      height: 64px;
    }
  }

  .ant-layout-footer {
    padding: 8px;
    background: #fff;
  }

  .basic-content-contaienr::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  .basic-content-contaienr::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #d4d5d6;
    border-radius: 8px;
    background-color: #fff;
  }
  /*定义滑块 内阴影+圆角*/
  .basic-content-contaienr::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 8px #d4d5d6;
    background-color: #d4d5d6;
  }
}
