.custom-tooltip {
  width: 100% !important;
  height: 10% !important;
  box-shadow: none !important;
  position: absolute;
  top: 0px;
  left: 0px;
}

.custom-tooltip-item {
  width: 150px;
  height: 50px;
  position: relative;
  float: left;
  margin-left: 20px;
  border-left-style: solid;
  border-left-width: 5px;
}

.custom-tooltip-item:first-child {
  margin-left: 0;
}

.custom-tooltip-item-name {
  width: 80%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 10px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.custom-tooltip-item-value {
  width: 80%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #262626;
  font-size: 22px;
  /*font-weight: bold*/
}
