.login-page {
  position: relative;
  background-color: #fff;
  text-align: center;

  .wrapper {
    text-align: center;

    .login-header {
      height: 108px;
    }

    .logo-image {
      display: inline-block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      background-color: #0084ff;
      color: #fff;
      text-align: center;
      font-size: 24px;
    }
  }
}
