.image-code {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  user-select: none;
}

.image-container {
  position: relative;
  background-color: #ddd;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.reload-container {
  margin: 20px 0;
}

.reload-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.reload-ico {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: center/cover no-repeat;
  background-size: 100% 100%;
}

.reload-tips {
  font-size: 14px;
  color: #666;
}

.slider-wrpper {
  position: relative;
  margin: 10px 0;
}

.slider-wrpper.right {
  border: 1px solid green;
  border-radius: 8px;
}

.slider-wrpper .slider-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: gold;
  border-radius: 8px 0 0 8px;
}

.slider-bar {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #999;
  background-color: #ebebeb;
  border-radius: 8px;
}

.slider-button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  width: 45px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  transform: translateY(-50%);
  background: #fff center/80% 80% no-repeat;
  box-shadow: 0 2px 6px 0 #ccc;
}

/* 提示信息 */
.tips-container,
.tips-container--active {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  background: #fff;
  border-radius: 5px;

  visibility: hidden;
  opacity: 0;
}

.tips-container--active {
  visibility: visible;
  opacity: 1;
}

.tips-ico {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: center/cover no-repeat;
}

.tips-text {
  color: #666;
}

.use-time-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.use-time-container .time {
  color: #fff;
  font-size: 10px;
}