<!-- /assets-->
<link rel="stylesheet" href="/assets/css/bootstrap-extended.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/assets/css/icomoon.css">
## simditor
<link rel="stylesheet" href="/assets/css/simditor.css" />
## simditor-html
<link rel="stylesheet" href="/assets/css/simditor-html.css" />

<!-- Flexslider  -->
<link rel="stylesheet" href="/assets/css/flexslider.css">
<!-- Theme style  -->
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="Shortcut Icon" href="/assets/css/favicon.ico">

<script src="/assets/dll/utils.dll.js"></script>
<script src="/assets/dll/react.dll.js"></script>

<script src="/assets/js/jquery.min.js"></script>
<!-- Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/assets/js/jquery.flexslider-min.js"></script>
<!-- jQuery Easing -->
<script src="/assets/js/jquery.easing.1.3.js"></script>
<!-- Modernizr JS -->
<script src="/assets/js/modernizr-2.6.2.min.js"></script>
<script src="/assets/js/beautify-html.min.js"></script>

<script src="/assets/js/module.js"></script>
<script src="/assets/js/hotkeys.js"></script>
<script src="/assets/js/uploader.js"></script>
<script src="/assets/js/simditor.js"></script>
## simditor-html
<script src="/assets/js/simditor-html.js"></script>

<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/echarts-all.js"></script>
<!-- MAIN JS -->
<script src="/assets/js/main.js"></script>
