.ant-layout-content {
  min-height: 100vh;
}

.global-loading {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  text-align: center;
}
