{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true // or 'css'
            }
        ],

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-runtime"
    ]
}
