{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 4,
  "singleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
